.row {
	@include flex-box();
	@include flex(0 1 auto);
	@include flex-direction(row);
	@include flex-wrap(wrap);

	// Aligment
	&.row-start { @include justify-content(start); }
	&.row-center { @include justify-content(center); }
	&.row-end { @include justify-content(end); }

	// Distribution
	&.row-around{
		-webkit-justify-content: space-around;
  		-ms-flex-pack: distribute;
  		justify-content: space-around;
	}
	&.row-between{
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}

	&.row-no-padding {
  		[class*="col"] {
    		padding: 0;
	  	}
	}
}

.row.reverse {
	@include flex-direction(row-reverse);
}

.col,
.col-1,		.col-2,
.col-3,		.col-4,
.col-5,		.col-6,
.col-7,		.col-8,
.col-9,		.col-10,
.col-11,	.col-12 {
	@include flex(0 0 auto);
	@include flex-grow(1);
	max-width: 100%;
	padding-left: 10px;
	padding-right: 10px;

	// Reordering
	&.col-first{ @include order(-1); }
	&.col-last{ @include order(1); }
}

@include create-grid-columns();