// vars
$flex-col-hspace: 1%;
$flex-col-vspace: 0.6%;

/* Flex-layout basic */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-col {
  flex: 1 1 8%;
  box-sizing: border-box;
}

/* Flex-layout decoration */
.flex-row {
  border: 1px solid #1f83e1;
  list-style: none;
  margin: 0;
  padding: 0 ;
}
.flex-col {
  border: 1px solid #ac1e00;
  padding: 5px;
  margin: $flex-col-vspace $flex-col-hspace 0 0;
}

/* Base margins */
.flex-row :nth-child(3n), .flex-row :last-child {
  margin-right: 0;
}

/* Flex-layout columns */
.flex-col-1 {
  @extend .flex-col;
  flex-basis: 8.3333% - $flex-col-hspace;
}
.flex-col-2 {
  @extend .flex-col;
  flex-basis: 16.6666% - $flex-col-hspace;
}
.flex-col-3 {
  @extend .flex-col;
  flex-basis: 25% - $flex-col-hspace;
}
.flex-col-4 {
  @extend .flex-col;
  flex-basis: 33.3333% - $flex-col-hspace;
}
.flex-col-5 {
  @extend .flex-col;
  flex-basis: 41.6666% - $flex-col-hspace;
}
.flex-col-6 {
  @extend .flex-col;
  flex-basis: 50% - $flex-col-hspace;
}
.flex-col-7 {
  @extend .flex-col;
  flex-basis: 58.3333% - $flex-col-hspace;
}
.flex-col-8 {
  @extend .flex-col;
  flex-basis: 66.6666% - $flex-col-hspace;
}
.flex-col-9 {
  @extend .flex-col;
  flex-basis: 75% - $flex-col-hspace;
}
.flex-col-10 {
  @extend .flex-col;
  flex-basis: 83.3333% - $flex-col-hspace;
}
.flex-col-11 {
  @extend .flex-col;
  flex-basis: 91.6666% - $flex-col-hspace;
}
.flex-col-12 {
  @extend .flex-col;
  flex-basis: 100% - $flex-col-hspace;
}

/* Media */
@media all and (max-width: 1279px) and (min-width: 1023px) {
  .flex-col-1,
  .flex-col-2,
  .flex-col-3,
  .flex-col-4,
  .flex-col-5 {
    flex-basis: 50% - $flex-col-hspace;
  }
  .flex-col-6,
  .flex-col-7,
  .flex-col-8,
  .flex-col-9,
  .flex-col-10,
  .flex-col-11 {
    flex-basis: 100% - $flex-col-hspace;
  }
  // reset margins
  .flex-row :nth-child(1n) {
    margin-right: $flex-col-hspace;
  }
  // set 2-tiles margins
  .flex-row :nth-child(2n), .flex-row :last-child {
    margin-right: 0;
  }
}
@media all and (max-width: 800px) {
  .flex-col-1,
  .flex-col-2,
  .flex-col-3,
  .flex-col-4,
  .flex-col-5 {
    flex-basis: 50% - $flex-col-hspace;
  }
  .flex-col-6,
  .flex-col-7,
  .flex-col-8,
  .flex-col-9,
  .flex-col-10,
  .flex-col-11 {
    flex-basis: 100% - $flex-col-hspace;
  }
  // reset margins
  .flex-row :nth-child(1n) {
    margin-right: $flex-col-hspace;
  }
  // set 2-tiles margins
  .flex-row :nth-child(2n), .flex-row :last-child {
    margin-right: 0;
  }
}
@media all and (max-width: 640px) {
  .flex-col-1,
  .flex-col-2,
  .flex-col-3,
  .flex-col-4,
  .flex-col-5,
  .flex-col-6,
  .flex-col-7,
  .flex-col-8,
  .flex-col-9,
  .flex-col-10,
  .flex-col-11 {
    flex-basis: 100% - $flex-col-hspace;
  }
  // set 1-tiles margins
  .flex-row :nth-child(1n) {
    margin-right: 0;
  }
}

